@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
  font-family: montserrat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2c3e50;
}
body {
  background-color: #cde3ff;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  position: relative;
  padding: 20px 30px;
  border-radius: 6px;
  background: white;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

option:first-child {
  display: none;
}
span {
  color: red;
}
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
label,
span {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
}
span {
  font-size: 12px;
}
button {
  width: 100%;
  background: #566bd3;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
}
button:hover {
  box-shadow: 0 0 0 4px #4d6bff;
  opacity: 0.95;
}
.gender {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.gender div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 7px;
}
.label {
  font-size: 16px;
  margin-bottom: 0px;
  color: #2c3e50;
}
.radio-label {
  margin-bottom: 0;
  cursor: pointer;
}
input[type="radio"] {
  height: 15px;
  width: 15px;
  margin: auto;
  box-shadow: none;
  cursor: pointer;
}
select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
}
.nodata {
  pointer-events: none;
  opacity: 0.3;
}
